.card {
    margin: 0.5mm;
    border-style: solid;
    border-width: 5mm;
    border-radius: 3mm;
    width: 63.5mm;
    height: 88.9mm;
    background:white;
    display:inline-block;
}

.card h1 {
	text-align: center;
	vertical-align: middle;
	line-height: 20mm;
	font-size:50mm;
	font-family: 'Bowlby One SC', cursive;
	font-weight: lighter;
}


.red-border {
	border-color: #E31111;
}

.amber-border {
	border-color: #FFB300;
}

.green-border {
	border-color: #00BE14;
}

.grey-border {
	border-color: #737373;
}

.red {
	color: #E31111;
}

.amber {
	color: #FFB300;
}

.green {
	color: #00BE14;
}

.grey {
	color: #737373;
}

.icon {
	line-height: 20mm;
	font-size:60mm;
}





